<div class="columns memberLevel">
             <div class="column is-narrow memberPicColumn center-column">
               <figure class="image is-128x128">
              <img src={{ profileImage }}>
            </figure>
           <button class="button upload-button" data-upload-target-type="member" data-id={{id}}>Upload Image</button></div>
           <div class="column memberInfoColumn">
             <div class="member-title-level content">
               <h4 class="member-title-item">{{name}}</h4>
               <h4 class="member-title-item">Member ID: {{id}}</h4>
               <button class="button is-danger is-small member-title-item memberDeleteBtn" data-id={{id}}>Delete</button>
               <button class="button is-success is-small member-title-item memberMedicalBtn" data-id={{id}}>Add Medical Info</button>
              </div>
              <div id="boxes">
                <div id="column1">
                  <p>Date of Birth: {{dob}}</p>
                  <p>Gender: {{gender}}</p>
                  <p>Height (inches): {{height}}</p>
                  <p>Weight (lbs): {{weight}}</p>
                  <p>Phone: {{phone}}</p>
                  <p>Bio: {{bio}}</p>
                </div>
                 <div id="column2">
                  <p>Physicians: {{physicians}}</p>
                  <p>Blood Type: {{bloodtype}}</p>
                  <p>Allergies: {{allergies}}</p>
                  <p>Conditions: {{conditions}}</p>
                  <p>Prescriptions: {{prescriptions}}</p>
                </div>              
            </div>    
         </div>  
       </div>