<div class="section">
  <div class="container">
    <div class="content">
      <h1 class="title profile-title">{{ title }}</h1>
    </div>

    <!-- start of owner section -->
    <div class="content">
      <div class="card">
        <div class="card-content">
          <h2 class="subtitle">Your Info</h2>
          <h2 class="subtitle">{{ name }}</h2>
          <h4 class="subtitle">User ID: {{ id }}</h4>
          <div class="columns">
            <!-- pic column -->
            <div class="column is-narrow center-column">
              <figure class="image is-128x128">
                <img id="profile-image" class="imageStyle" src={{ profileImage }}>
              </figure>

              <button class="button upload-button" data-upload-target-type="user" data-id={{ id }}>Upload Image</button>
            </div>

            <!-- name column -->
            <div class="column">
              <form>
                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field">
                      <div class="control" id="nameControl">
                        <input class="input" type="text" placeholder="...Update Your Name" id="nameInput"/>
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">                        
                        <button class="button" id="nameBtn" data-id={{ id }}>
                          Update Your Name
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="control">
                  <div class="dropdown">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <span>Your Events</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content" id="userEventsDropdown">
                        {{!-- dropdown goes here --}}
                      </div>
                      <div class="field">
                      <div class="control">                        
                        <button class="button" id="emailBtn" data-id={{ id }}>
                          Send Information Via Email
                        </button>
                    </div>
                    <div class="modal" id="newMemberModal">
                      <div class="modal-background" id="memberModal"></div>
   <div class="modal-content">
    <div class="box">
      <div class="field">
        <label class="label">Member's Name</label>
        <div class="control">
          <input class="input" type="text" id="memberName" required/>
        </div>
      </div>
                  </div>
                </div>
              </form>
            </div> {{!-- end of  column--}}
          </div>
        </div>
      </div>
    </div>
    <div class="card profile-member-card">
      <div class="card-content">
        <div class="content member-title-level">
          <h2 class="subtitle member-title-item" id="memberSubtitle">Your Family Member(s)</h2>
          <button class="button member-title-item custom-btn btn-11" id="addMemberBtn">Add a Member<div class="dot"></div></button>
      </div>
      <div class="content" id="memberContent">
          {{#if members.length}} 
         <div class="col-md-6 member-list">
        <h3>Current Family Members:</h3>

         {{#each members as |member|}}
         {{> memberCard}}
       {{/each}}
        </div>
       {{/if}}
      </div>    
  </div>
</div>
  </div>
</div>


<!-- modal -->
<div class="modal" id="newMemberModal">
  <div class="modal-background" id="memberModal"></div>
  <div class="modal-content">
    <div class="box">
      <div class="field">
        <label class="label">Member's Name</label>
        <div class="control">
          <input class="input" type="text" id="memberName" required/>
        </div>
      </div>
      <div class="field">
        <label class="label">Member's Gender</label>
        <div class="control">
          <select class="select" id="memberGender" required>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
      </div>
      <div class="field">
        <label class="label">Member's DOB</label>
        <input class="input" type="text" id="memberDOB" placeholder="MM/DD/YYYY" required/>
      </div>
      <div class="field">
        <label class="label">Member's Weight (in pounds)</label>
        <input class="input" type="number" id="memberWeight" required/>
      </div>
      <div class="field">
        <label class="label">Member's Height (in inches)</label>
        <input class="input" type="number" id="memberHeight" required/>
      </div>
      <div class="field">
        <label class="label">Phone Number:</label>
        <input class="input" type="text" name="phone" placeholder="555-555-5555" pattern="\d+" id="memberPhone" required/>
      </div>
      <div class="field">
        <label class="label">member's Bio</label>
        <input
          class="input"
          type="text"
          placeholder="Tell us about your member!"
          id="memberBio"
        />
      </div>      
      <button class="button" type="submit" value="Submit" id="submitMemberBtn">Submit</button>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- profile image modal -->

<div class="modal" id="profile-image-modal">
  <div class="modal-background" id="profileImageModalBackground"></div>
  <div class="modal-content">
    <div class="modal-card">
      <section class="modal-card-body">
        <form id="picture-upload">
          <div class="field">
            <div class="file has-name is-fullwidth">
              <label class="file-label">
                <input id="pick-file" class="file-input" type="file" name="file" accept="image/*">
                <span class="file-cta">
                  <span class="file-icon"><i class="fas fa-upload"></i></span>
                  <span class="file-label">Choose a file…</span>
                </span>
                <span id="pick-file-name" class="file-name"></span>
              </label>
            </div>

            <p id="upload-feedback" class="help is-danger">The file upload failed.</p>
          </div>

          <progress id="upload-progress" class="progress is-primary"></progress>

          <div class="field">
            <div class="control">
              <button id="picture-upload" class="button is-primary">Upload</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

{{> addMedicalInfo}}

<script src="/js/profile.js"></script>




        
           